<div class="container px-lg-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-6">
            <div class="bg-warning">
                <p class="Source-Sans-Pro-700 f-16-18 font-oblique">As featured in</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-lg-3 text-center">
            <a href="https://www.travelinglifestyle.net/best-travel-planning-apps/" target="_blank">
                <img src="https://itin-strapi.sfo2.digitaloceanspaces.com/Traveling_Lifestyle_15d5630e7c.png" class="w-50">
            </a>
        </div>
        <div class="col-6 col-lg-3 text-center">
            <a href="https://lifehacker.com/bookwithmatrix-makes-it-dead-simple-to-buy-plane-ticket-1780142551" target="_blank">
                <img src="https://itin-strapi.sfo2.digitaloceanspaces.com/Lifehacker_cea733095f.png" class="w-50">
            </a>
        </div>
        <div class="col-6 col-lg-3 text-center mt-3 mt-lg-0">
            <a href="https://www.travelanddestinations.com/ultimate-guide-to-planning-a-multi-destination-trip/" target="_blank">
                <img src="https://itin-strapi.sfo2.digitaloceanspaces.com/20210528_travel_And_Destinations_Logo_5559778d5e.png" class="w-50">
            </a>
        </div>
        <div class="col-6 col-lg-3 text-center mt-3 mt-lg-0">
            <a href="https://wanderlustmarriage.com/richmond-virginia-weekend-itinerary/" target="_blank">
                <img src="https://itin-strapi.sfo2.digitaloceanspaces.com/Wanderlust_Marriage_Travel_d29c9b161c.png" class="w-50">
            </a>
        </div>
    </div>
</div>
