<div class="container">
    <div class="row">
        <div class="col-12 text-center mb-5">
            <app-infotemplatecard [titleStart]= "infoObject.main_title.titleStart" [link_content]="infoObject.main_title.link_content" [subContent]="infoObject.main_title.subContent" ></app-infotemplatecard>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-12">
            <app-infotemplatecard [titleStart]= "infoObject.sub_content1.titleStart" [link_content]="infoObject.sub_content1.link_content" [titleEnd]="infoObject.sub_content1.titleEnd" [subContent]="infoObject.sub_content1.subContent"></app-infotemplatecard>
        </div>
        <div class="col-lg-4 col-12">
            <app-infotemplatecard [titleStart]= "infoObject.sub_content2.titleStart" [subContent]="infoObject.sub_content2.subContent"></app-infotemplatecard>
        </div>
        <div class="col-lg-4 col-12">
            <app-infotemplatecard [titleStart]= "infoObject.sub_content3.titleStart" [subContent]="infoObject.sub_content3.subContent"></app-infotemplatecard>
        </div>
    </div>
</div>
