
    <!-- <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <p class="Source-Sans-Pro-700 f-24 line-height-title title-color">Ready to plan your trip in half the time?</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-2 text-center px-0">
                <button class="btn btn-planning py-3 Source-Sans-Pro-700 btn-planning-hover px-4">Start planning</button>
            </div>
            <div class="col-12 col-lg-2 text-center mt-lg-0 mt-3 px-0">
                <button class="btn btn-get-app py-3 Source-Sans-Pro-700 btn-get-hover px-4">Get the app</button>
            </div>
        </div>
    </div> -->
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <p class="Source-Sans-Pro-700 f-24 line-height-title title-color">Ready to plan your trip in half the time?</p>
            </div>
        </div>
        <div class="container-flex-col">
            <button class="btn btn-planning py-3 Source-Sans-Pro-700 btn-planning-hover px-4" (click)="startPlanning()">Start planning</button>
            <button class="btn btn-get-app py-3 Source-Sans-Pro-700 btn-get-hover px-4">Get the app</button>
        </div>
    </div>
