.hotel-search{
    background-color: #e2daef;
    border-radius: 16px;
    position: relative;
}

.hotel-search-img-content{
    position: relative;
}

.purple-img{
    border-radius: 16px;
    /* position: absolute; */
    right: 0;
}

.hotel-booking-img{
    position:absolute;
    z-index: 2;
    left: 0%;
    
}

.hotel-booking-title{
    font-size: 2.25rem;
    color: #212529;
}

.hotel-booking-sub-text{
    font-size: 1.5rem;
    color: #6c757d;
}

.darker-btn{
    background-color: #212529;
    color: #fff;
    margin-right: 8px;
}
.darker-btn:hover{
    background-color: #15171a;
}

.light-btn{
    background-color: transparent;
    color: #212529;
}

.light-btn:hover{
    color: #2b2f33;
}

.search-hotel-btn{
    border-color: #212529;
    border-width: 1px;
    border-radius: 100px;
    height: 56px;
    min-width: 56px;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    border-style: solid;
}

.new-plan-trip{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 96px;
}

.your-trip{
    background-color: #f3f4f5;
    border-radius: 8px;
    width: 100%;
    margin-right: 16px;
}

.your-trip-title{
    color: #212529;
    font-size: 1.5rem;
}

.your-trip-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.your-trip-btn{
    background-color: #e9ecef;
    border-color: #e9ecef;
    border-width: 1px;
    border-radius: 24px;
    height: 40px;
    min-width: 40px;
    padding: 7px 16px 7px 12px;
    cursor: pointer;
    border-style: solid;
    font-size: 1rem;
    font-weight: bold;
}
.your-trip-btn:hover{
    background-color: #dadddf;
}

.your-trip-subcontent{
    color: #212529;
    font-size: 1rem;
}

.plan-new-link{
    color: #f75940;
    font-weight: 700;
    cursor: pointer;
}

.plan-new-link:hover{
    color: #f18b7b;
}


.your-guide{
    background-color: #f3f4f5;
    border-radius: 8px;
    width: 100%;
}

.your-guide-title{
    color: #212529;
    font-size: 1.5rem;
}

.your-guide-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.your-guide-btn{
    background-color: #e9ecef;
    border-color: #e9ecef;
    border-width: 1px;
    border-radius: 24px;
    height: 40px;
    min-width: 40px;
    padding: 7px 16px 7px 12px;
    cursor: pointer;
    border-style: solid;
    font-size: 1rem;
    font-weight: bold;
}

.your-guide-btn:hover{
    background-color: #dadddf;
}

.guide-new-link{
    color: #f75940;
    font-weight: 700;
    cursor: pointer;
}

.guide-new-link:hover{
    color: #f18b7b;
}

.your-guide-subcontent{
    color: #212529;
    font-size: 1rem;
}

.explore-title{
    color: #212529;
    font-size: 2.25rem;
    font-weight: bold;
}
.explore-subtitle{
    color: #212529;
    font-size: 1.5rem;
    font-weight: 700;
}