<div class="container">
    <div class="hotel-search p-4">
        <div class="d-flex justify-content-between flex-row">
            <div class="text-content">
                <h2 class="hotel-booking-title Source-Sans-Pro-700">Experience a better hotel search</h2>
                <p class="hotel-booking-sub-text Source-Sans-Pro-400 mt-2">Most hotel sites rank results by how much hotels pay them. Not us, we rank hotels based on your price and rating preferences. We’ve got your back, simple as that.</p>
                <div class="hotel-search-btns d-flex flex-row">
                    <button class="search-hotel-btn Source-Sans-Pro-500 darker-btn">Search hotels</button>
                    <button class="search-hotel-btn Source-Sans-Pro-400 light-btn">Learn more</button>
                </div>
            </div>
            <div class="hotel-search-img-content">
                <img src="./../../assets/HeaderPromoWithButtons__purpleLightestBg.png" alt="" class="purple-img">
                <img src="./../../assets/HotelBookingPromo__image.png" alt="" class="w-100 hotel-booking-img">
            </div>
        </div>
    </div>
</div>
