<div class="container">
    <div class="hotel-search p-4">
        <div class="d-flex justify-content-between flex-row">
            <div class="text-content">
                <h2 class="hotel-booking-title Source-Sans-Pro-700">Experience a better hotel search</h2>
                <p class="hotel-booking-sub-text Source-Sans-Pro-400 mt-2">Most hotel sites rank results by how much hotels pay them. Not us, we rank hotels based on your price and rating preferences. We’ve got your back, simple as that.</p>
                <div class="hotel-search-btns d-flex flex-row">
                    <button class="search-hotel-btn Source-Sans-Pro-500 darker-btn">Search hotels</button>
                    <button class="search-hotel-btn Source-Sans-Pro-400 light-btn">Learn more</button>
                </div>
            </div>
            <div class="hotel-search-img-content">
                <img src="./../../assets/HeaderPromoWithButtons__purpleLightestBg.png" alt="" class="purple-img">
                <img src="./../../assets/HotelBookingPromo__image.png" alt="" class="w-100 hotel-booking-img">
            </div>
        </div>
    </div>
    <div class="new-plan-trip">
        <div class="your-trip p-4">
            <div class="your-trip-main">
                <div class="">
                    <h2 class="your-trip-title Source-Sans-Pro-700">Your trips</h2>
                </div>
                <button class="your-trip-btn Source-Sans-Pro-400">+ Plan new trip</button>
            </div>
            <div class="your-trip-subcontent">
                <p class="Source-Sans-Pro-400">You don’t have any trip plans yet.<span class="plan-new-link"> Plan a new trip.</span></p>
            </div>
        </div>
        <div class="your-guide p-4">
            <div class="your-guide-main">
                <div class="">
                    <h2 class="your-guide-title Source-Sans-Pro-700">Your guides</h2>
                </div>
                <button class="your-guide-btn">+ Create new guide</button>
            </div>
            <div class="your-guide-subcontent">
                <p class="Source-Sans-Pro-400">You don’t have any guides yet.<span class="guide-new-link"> Create a new guide.</span></p>
            </div>
        </div>
    </div>
</div>
